<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jraska.pwdm.travel"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".TravelAssistanceApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true"
        android:allowBackup="false"> <!-- Now under heavy development -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAMOMbAhj7u5KQR_6HpmaX7uJ_t3GuMb6A" />

        <activity
            android:name=".RoutesListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RouteDisplayActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".HelpRequestSendActivity"/>
        <service android:name=".tracking.TrackingService" />
    </application>
</manifest>
