<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jraska.pwmd.travel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".TravelAssistanceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- TODO 25/01/2016 app indexing warning -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.RoutesListActivity"
            android:label="@string/routes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pwmd.travel"
                    android:pathPrefix="/navigate"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RouteDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Label is ise in code depending on data -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jraska.pwmd.travel.ui.RoutesListActivity" />
        </activity>
        <activity
            android:name=".ui.HelpRequestSendActivity"
            android:label="@string/help_request"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jraska.pwmd.travel.ui.RoutesListActivity" />
        </activity>

        <service android:name=".tracking.TrackingService" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.jraska.pwmd.travel.ui.RoutesListActivity" />

        <activity
            android:name=".ui.RouteRecordActivity"
            android:label="@string/title_activity_route_record"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jraska.pwmd.travel.ui.RoutesListActivity" />
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.VoiceRecordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sound_record_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jraska.pwmd.travel.ui.RouteRecordActivity" />
        </activity>
        <activity
            android:name=".ui.NfcWriteActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_write_nfc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.FeedbackActivity"
            android:label="@string/feedback_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".backup.BackupAvailabilityResolveActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
    </application>

</manifest>